@model StockDetailsViewModel

<a  class="block max-w-sm p-10 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-50 dark:border-gray-700">
	<i class="fa-solid fa-money-bill-trend-up"></i>

	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-800 dark:text-grey-800">@Model.StockName (@Model.StockSymbol)</h5>
	<p class="font-bold text-gray-800 dark:text-gray-800">@Model.StockPrice</p>
</a>
